node_modules
packages/shared-types/dist/
packages/shared-types/node_modules
apps/web/node_modules
apps/web/.next
apps/api/node_modules
apps/api/coverage
.turbo
whisper-cache
apps/api/dist

# macOS system files
.DS_Store
**/.DS_Store
**/.DS_ST
apps/.DS_Store
apps/api/src/.DS_Store
apps/api/src/application/.DS_Store